body{
	color: white;
}
#tableHeads, form{
	background-color: #0D47A1;
	max-width: 70%;
	position: relative;
	left: 10%;
	outline: solid 2px black;
	padding: 20px;
}
#tableHeads th, #tableHeads td{
	position: relative;
	left: 20px;
	padding: 10px;
	outline: solid 2px black;
	
}
td{
	outline: solid 2px black;
}
input{
	color: black;
	max-width: 20%;
}
